<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/css.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
</head>
<body>
    <div class="container mt-3">
        <% if (locals.error) { %>
            <div class="alert alert-danger" role="alert"><%= locals.error %></div>
        <% } %>
        <h1><%= blog.title %></h1>
        <p>
            <%= blog.body %>
        </p>
        <br>
        <div>
            <button onclick="likeBlog('<%= blog._id %>')" class="btn btn-primary">Like</button>
            <span style="margin: 0 25px 0 0;"><%= blog.likes %></span>
            <button onclick="dislikeBlog('<%= blog._id %>')" class="btn btn-primary" style="margin: 0 0 0 25px;">Dislike</button>
            <span><%= blog.dislikes %></span>
        </div>
        <br>
        <button onclick="window.location.href='/'" class="btn btn-primary">Back to Homepage</button>
    </div>
    <script>
        async function likeBlog(blogId) {
            await fetch(`/blog/likeblog/${blogId}`, {
                method: 'PATCH'
            })
            window.location.reload()
        }

        async function dislikeBlog(blogId) {
            await fetch(`/blog/dislikeblog/${blogId}`, {
                method: 'PATCH'
            })
            window.location.reload()
        }
    </script>
</body>
</html>